.strike {
  text-decoration: line-through;
  text-decoration-color: red;
}

.herobg {
  background-color: #b2d23a;
}

.heromom {
  background-color: #cde6e4;
}

.cizgi {
  border: 0.1px solid #b2d23a;
  /* //border-top: 1px solid #b2d23a; */
}

.kalincizgi {
  border: 2px solid rgb(50, 61, 216);
}

.ustune {
  border-top: 2px solid greenyellow;
  margin-top: 46px;
}

.nobullet {
  list-style-type: none; /* Remove bullets */
}

.withborder {
  border: 2px solid blue;
}

.topborder {
  border-top: 2px solid blue;
}

.bottomborder {
  border-bottom: 2px solid blue;
}
